<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ResumeDao">

    <!-- 이력서 기본 정보 삽입 -->
    <insert id="insertResume" parameterType="com.example.demo.dto.ResumeDto">
        INSERT INTO resume (usersId, reg_date)
        VALUES (#{usersId}, DATE()NOW()));
    </insert>

    <!-- 학력 정보 삽입 -->
    <insert id="insertEducation" parameterType="com.example.demo.dto.Education">
        INSERT INTO education (resume_no, school_name, degree, major, start_date, end_date)
        VALUES (#{resumeNo}, #{schoolName}, #{degree}, #{major}, #{startDate}, #{endDate});
    </insert>

    <!-- 경력 정보 삽입 -->
    <insert id="insertExperience" parameterType="com.example.demo.dto.Experience">
        INSERT INTO experience (resume_no, company_name, job_position, start_date, end_date)
        VALUES (#{resumeNo}, #{companyName}, #{jobPosition}, #{startDate}, #{endDate});
    </insert>

    <!-- 자격증 정보 삽입 -->
    <insert id="insertCertification" parameterType="com.example.demo.dto.Certification">
        INSERT INTO certification (resume_no, cer_name, issuing_authority, issued_date)
        VALUES (#{resumeNo}, #{cerName}, #{issuingAuthority}, #{issuedDate});
    </insert>

    <!-- 병역 정보 삽입 -->
    <insert id="insertMilitary" parameterType="com.example.demo.dto.Military">
        INSERT INTO military (resume_no, military_class, military_period)
        VALUES (#{resumeNo}, #{militaryClass}, #{militaryPeriod});
    </insert>

    <!-- 자기소개서 삽입 -->
    <insert id="insertSelfIntroduction" parameterType="com.example.demo.dto.SelfIntroduction">
        INSERT INTO self_introduce (resume_no, motivation, career, personality)
        VALUES (#{resumeNo}, #{motivation}, #{career}, #{personality});
    </insert>
</mapper>
