<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>기업정보 상세 페이지</h1>
<a href="/">메인 페이지로 가기</a>
<hr>
    <div th:if="${company != null}">
        <h2>기업 정보</h2>
        <p>아이디: <span th:text="${company.usersId}"></span></p>
        <p>비밀번호: <span th:text="${company.password}"></span></p>
        <p>기업이름: <span th:text="${company.comName}"></span></p>
        <p>대표자명: <span th:text="${company.ceoName}"></span></p>
        <p>사업자등록번호: <span th:text="${company.businessNo}"></span></p>
        <p>연락처: <span th:text="${company.tel}"></span></p>
        <p>이메일: <span th:text="${company.email}"></span></p>
        <p>주소: <span th:text="${company.address}"></span></p>
        <p>기업형태: <span th:text="${company.comType}"></span></p>
        <p>업종: <span th:text="${company.comSector}"></span></p>
        <p>사원수: <span th:text="${company.employeeCount}"></span></p>
        <p>매출액: <span th:text="${company.sales}"></span></p>
    </div>
        <form action="modify" method="post">
    	<input type="submit" value="수정하기">
    </form>
</body>
</html>